{% extends 'base.html' %}
{% block title %}
    About Us
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col l8 m8 s12 offset-l2 offset-m2">
            <center>
                <img src="/static/assets/images/logo.png" style="width: 500px">
            </center>
            <h2>WeNavodaya</h2>
            <p>
                    As alumni of Navodaya, you are part of a global network of more than 1 million leaders, creators, and change makers bound together by our shared Navodaya connection and our collective passion, intellect, and drive. United, we are creating meaningful change for our school and alumni.
            </p>
            <h4>Unity</h4>
            <p>
                Developing an active and engaged alumni network empowers both the school and its students. Whether our alumni are interacting with the school or its student body, attending events, working with the school on various Legacy projects or serving as volunteers, their contributions make a difference to Navodaya. The Alumni Association continues to seek innovative ways to serve alumni and the students providing social, educational, and professional opportunities that appeal to our broad constituency. 
            </p>
            <h4>Grow</h4>
            <p>
                As alumni of Navodaya, you are part of a global network of more than..........leaders, creators, and change makers bound together by our shared Navodaya connection and our collective passion, intellect, and drive. United, we are creating meaningful change for our school and alumni.
            </p>
            <h4>Our Mission</h4>
            <p>
                The mission of the Association is to foster strong bonds between alumni, students and the Navodaya, to keep alumni informed, and create a network enabling them to remain engaged with their alma mater and help shape it’s future through the Association’s programmes and services.                     
            </p>
            <h4>Our Objectives</h4>
            <p>
                <li>
                    To promote interaction amongst the Alumni members and improve engagement between the Alumni and the JNVs.
                </li>
                <li>
                    To encourage, promote and facilitate education and activities of the JNVs.
                </li>
            </p>
        </div>
    </div>
{% endblock %}