{% extends 'base.html' %}
{% block title %}
    Forum
{% endblock %}
{% block content %}
    <center>
        <img src="/static/assets/images/logo.png" style="width:500px">
        <h3>
            Coming Soon :-)
        </h3>
    </center>
    <br>
{% endblock %}