{% extends 'base.html' %}
{% block title %}
    {{ event.title }}
{% endblock %}
{% block metatitle %}
    {{ event.title }}
{% endblock %}
{% block meta_description %}

{% endblock %}
{% block meta_image %}
    
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
            <div class="card-image">
                <img src="/{{ event.image }}">
                <span class="card-title">{{ event.title }}</span>
            </div>
            <div class="card-content">
                <ul class="collapsible popout">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">alarm_on</i>Time</div>
                        <div class="collapsible-body"><span>{{ event.time }}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Venue</div>
                        <div class="collapsible-body"><span>{{ event.place }}</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">details</i>Description</div>
                        <div class="collapsible-body"><span>{{ event.description }}</span></div>
                    </li>
                </ul>
            </div>
            <div class="card-action">
                    <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank">Share</a></div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block documentReadyScript %}
    $('.collapsible').collapsible();
{% endblock %}