{% extends 'base.html' %}
{% block title %}
Events
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for event in events %}
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/{{ event.image }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><a href="/events/{{ event.slug }}">{{ event.title }}</a><i class="material-icons right">more_vert</i></span>
                        <p>Time : {{ event.time }}</p>
                        <p>Duration : {{ event.timing }}</p>
                        <p>Place : {{ event.place }}</p>
                        <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}{{ event.slug }}" data-layout="button_count" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank">Share</a></div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ event.title }}<i class="material-icons right">close</i></span>
                        <p>{{ event.description }}</p>
                        <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}/{{ event.slug }}" data-layout="button_count" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank">Share</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}