{% extends 'base.html' %}
{% block title %}
Navodayas
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for navodaya in navodayas %}
            <div class="col l6 m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        {% if navodaya.image == "" %}
                            <img class="activator" src="/static/assets/images/logo.png">
                        {% else %}
                            <img class="activator" src="/{{ navodaya.image }}">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4"><a href="">{{ navodaya.full_name }}</a><i class="material-icons right">more_vert</i></span>
                        <p>District : {{ navodaya.district }}</p>
                        <p>State : {{ navodaya.state }}</p>
                        <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank">Share</a></div>
                    </div>
                    <div class="card-action">
                        <a href="{{ navodaya.website }}">{{ navodaya.website }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}