{% extends 'base.html' %}
{% block title %}
    Privacy Policy
{% endblock %}
{% block content %}
<div class="container">
    <p>
        This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
    </p>
    <h4>
        What personal information do we collect from the people that visit our blog, website or app?
    </h4>
    <p>
        When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, Social Media Accounts or other details to help you with your experience.
    </p>
    <h4>
        When do we collect information?
    </h4>
    <p>
            We collect information from you when you subscribe to a newsletter, respond to a survey, fill out a form, Open a Support Ticket or enter information on our site.
            
            Provide us with feedback on our products or services 
    </p>
    <h4>
        How do we use your information? 
    </h4>
    <p>
        We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
    </p>
    <p>
        <li>
            To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
        </li>
        <li>
            To improve our website in order to better serve you.
        </li>
        <li>
            To allow us to better service you in responding to your customer service requests.
        </li>
        <li>
            To administer a contest, promotion, survey or other site feature.
        </li>
        <li>
            To ask for ratings and reviews of services or products
        </li>
        <li>
            To follow up with them after correspondence (live chat, email or phone inquiries)
        </li>
    </p>
    <h4>
        How do we protect your information?
    </h4>
    <p>
            Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.
            <br>
            We use regular Malware Scanning.
            <br>
            Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.
            <br>
            We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.
            <br>
            All transactions are processed through a gateway provider and are not stored or processed on our servers.
    </p>
    <h4>
        Do we use 'cookies'?
    </h4>
    <p>
        Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
    </p>
    <h4>
        We use cookies to:
    </h4>
    <p>
        <li>
            Understand and save user's preferences for future visits.
        </li>
        <li>
            Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.
        </li>
    </p>
    <p>
        You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.
    </p>
    <h4>
        If users disable cookies in their browser:
    </h4>
    <p>
        If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.Some of the features that make your site experience more efficient and may not function properly.
    </p>
    <h4>
        Third-party disclosure
    </h4>
    <p>
        We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety.        
        <br>
        However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses. 
    </p>
    <h4>
        Third-party links
    </h4>
    <p>
        Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
    </p>
    <h4>
        Google
    </h4>
    <p>
        Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en 
        <br>
        We have not enabled Google AdSense on our site but we may do so in the future.
    </p>
    <h4>
        How does our site handle Do Not Track signals?
    </h4>
    <p>
        We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place. 
    </p>
    <h4>
        Does our site allow third-party behavioral tracking?
    </h4>
    <p>
        It's also important to note that we do not allow third-party behavioral tracking
    </p>
    <h4>
        COPPA (Children Online Privacy Protection Act)
    </h4>
    <p>
        When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.
        <br>
        We do not specifically market to children under the age of 13 years old.
        Do we let third-parties, including ad networks or plug-ins collect PII from children under 13?
    </p>
    <h4>
        Fair Information Practices
    </h4>
    <p>
        The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.        
    </p>
    <h4>
        In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
    </h4>
    <p>
        We will notify you via email
        <li>
            Within 1 business day
        </li>
        We will notify the users via in-site notification
        <li>
            Within 1 business day            
        </li>
    </p>
    <p>
        We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.
    </p>
    <h4>
        CAN SPAM Act
    </h4>
    <p>
        The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
    </p>
    <h4>
        We collect your email address in order to:
    </h4>
    <p>
        <li>
            Send information, respond to inquiries, and/or other requests or questions
        </li>
        <li>
            Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.
        </li>
    </p>
    <h4>
        To be in accordance with CANSPAM, we agree to the following:
    </h4>
    <p>
        <li>
            Not use false or misleading subjects or email addresses.
        </li>
        <li>
            Identify the message as an advertisement in some reasonable way.
        </li>
        <li>
            Include the physical address of our business or site headquarters.
        </li>
        <li>
            Monitor third-party email marketing services for compliance, if one is used.
        </li>
        <li>
            Honor opt-out/unsubscribe requests quickly.
        </li>
        <li>
            Allow users to unsubscribe by using the link at the bottom of each email.
        </li>
    </p>
    <h4>
        If at any time you would like to unsubscribe from receiving future emails, you can email us at
    </h4>
    <p>
        Follow the instructions at the bottom of each email.
        <br>
        and we will promptly remove you from <b>ALL</b> correspondence.
    </p>
</div>
{% endblock %}