{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ request.user.first_name }} {{ request.user.last_name }}
{% endblock %}
{% block content %}
<style>
    #menu {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}
</style>
<div class="fixed-action-btn" id="menu">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating blue darken-1 tooltipped modal-trigger" href="#add_achievement_modal" data-position="top" data-delay="50" data-tooltip="Add an Achievement"><i class="material-icons">redeem</i></a></li>
      <li><a class="btn-floating blue darken-1 tooltipped modal-trigger" href="#add_education_modal" data-position="top" data-delay="50" data-tooltip="Add an Education Detail"><i class="material-icons">library_books</i></a></li>
    </ul>
</div>
<!-- <a  class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a> -->
<!-- Tap Target Structure -->
<div class="tap-target" data-target="menu">
    <div class="tap-target-content">
      <h5>How to use</h5>
      <p>Hello there, if you are new and probably have no idea how to add education and achievements here on this page then please click me :-)</p>
    </div>
</div>
<div class="row">
    <div class="col l4 m6 s12 offset-l1">
        <div class="card purple darken-4">
            <div class="card-content white-text" style="text-align: center">
                <span class="card-title">
                    <center>
                        <b id="full_name_div">{{ profile.full_name }} ({{ profile.user }})</b>
                        <a class="btn-floating waves-effect waves-light" onclick="edit_profile({{ profile.pk }})"><i class="material-icons right">edit</i></a>
                    </center>
                </span>
                {% if profile.image == "" %}
                    <center style="background-color : #fff">
                        <img class="circle" src="/static/assets/images/logo.png" width="200px">
                    </center>
                {% else %}
                    <center>
                        <img class="circle" src="/{{ profile.image }}" width="200px">
                    </center>
                {% endif %}
                <a class="btn-floating waves-effect waves-light" onclick="edit_bio()"><i class="material-icons right">edit</i></a>
                <p id="bio_div">{{ profile.bio }} </p>
                <p id="jnv_div">{{ profile.jnv }}</p>
                <p id="passout_year_div">Passout year : {{ profile.passing_year }}</p>
                <p id="location_div">Location : {{ profile.location }}</p>
            </div>
            <div class="card-action white-text">
                <center>
                    <p id="dob">DOB : {{ profile.birth_date }} <a class="btn-floating waves-effect waves-light" onclick="show_update_dob()"><i class="material-icons right">edit</i></a></p>
                    <div id="dob_field">
                        <center>
                            <input type="text" class="datepicker" id="dob_field_picker" placeholder="YYYY-MM-DD">
                        </center>
                        <a class="btn-floating waves-effect waves-light" onclick="update_dob()"><i class="material-icons right">update</i></a>
                    </div>
                    <hr>
                    <a href="#">{{ profile.contact_no }}</a>
                    <hr>
                    <a href="#">{{ profile.user.email }}</a>
                </center>
            </div>
        </div>
    </div>
    <div class="col l6 m6">
        {% for education in educations %}
            <div class="card">
                <div class="card-content purple-text text-darken-4">
                    <span class="card-title">
                        <b>{{ education.title }} (Education)</b>
                        <!-- <a class="btn-floating waves-effect waves-light" onclick="edit_education({{ education.pk }})"><i class="material-icons right">edit</i></a> -->
                    </span>
                    <b><h5>{{ education.institute }}</h5></b>
                    <p>{{ education.description }}</p>
                    <p>From : {{ education.start }}</p>
                    <p>To : {{ education.finish }}</p>
                </div>
            </div>
        {% empty %}
            <div class="card">
                <div class="card-content purple-text text-darken-4">
                    <span class="card-title">
                        <b>Add your Education Details</b>
                        <!-- <a href="#add_education_modal" class="btn-floating waves-effect waves-light modal-trigger"><i class="material-icons right">plus</i></a> -->
                    </span>
                </div>
            </div>
        {% endfor %}
        {% for achievement in achievements %}
            <div class="card">
                <div class="card-content purple-text text-darken-4">
                    <span class="card-title">
                        <b>{{ achievement.title }} (Achievement)</b>
                        <a class="btn-floating waves-effect waves-light"><i class="material-icons right">edit</i></a>
                    </span>
                    <p>{{ achievement.description }}</p>
                    <p>Date : {{ achievement.date }}</p>
                </div>
            </div>
        {% empty %}
            <div class="card">
                <div class="card-content purple-text text-darken-4">
                    <span class="card-title">
                        <b>Add your Achievements</b>
                        <a href="#add_achievement_modal" class="btn-floating waves-effect waves-light modal-trigger"><i class="material-icons right">plus</i></a>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div id="edit_education_modal" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
<div id="add_achievement_modal" class="modal">
    <form method="POST" action="/achievement/add">
        {% csrf_token %}
        <div class="modal-content">
            <h4>Add an Achievement</h4>
            <div class="row">
                <div class="input-field col l12 m12 s12">
                    <input id="add_achievement_title_field" type="text" name="title">
                    <label for="add_achievement_title_field">Title</label>
                </div>
                <div class="input-field col l12 m12 s12">
                    <textarea id="add_achievement_description_field" type="text" class="materialize-textarea" name="description"></textarea>
                    <label for="add_achievement_description_field">Description</label>
                </div>
                <div class="input-field col l6 m6 s6">
                    <input id="add_achievement_date_field" type="text" class="datepicker" name="date" placeholder="YYYY-MM-DD">
                    <label for="add_achievement_date_field">Date</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Update</button>
        </div>
    </form>
</div>
<div id="add_education_modal" class="modal">
    <form method="POST" action="/education/add">
        {% csrf_token %}
        <div class="modal-content">
            <h4>Add an Education Detail</h4>
            <div class="row">
                <div class="input-field col l12 m12 s12">
                    <input id="add_education_title_field" type="text" name="title">
                    <label for="add_education_title_field">Title</label>
                </div>
                <div class="input-field col l12 m12 s12">
                    <textarea id="add_education_description_field" type="text" class="materialize-textarea" name="description"></textarea>
                    <label for="add_education_description_field">Description</label>
                </div>
                <div class="input-field col l12 m12 s12">
                    <input id="add_education_institute_field" type="text" name="institute">
                    <label for="add_education_institute_field">Institute</label>
                </div>
                <div class="input-field col l6 m6 s6">
                    <input id="add_education_start_date_field" type="text" class="datepicker" name="startdate" placeholder="YYYY-MM-DD" type="date">
                    <label for="add_education_start_date_field">Start Date</label>
                </div>
                <div class="input-field col l6 m6 s6">
                    <input id="add_education_end_date_field" type="text" class="datepicker" name="enddate" placeholder="YYYY-MM-DD" type="date">
                    <label for="add_education_end_date_field">End Date</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Update</button>
        </div>
    </form>
</div>
<div id="edit_name_modal" class="modal">
    <div class="modal-content">
        <h4>Edit Name</h4>
        <div class="row">
            <div class="input-field col l6 m6 s12">
                <input id="first_name" type="text" value="{{ profile.user.first_name }}">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col l6 m6 s12">
                <input id="last_name" type="text" value="{{ profile.user.last_name }}">
                <label for="last_name">Last Name</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="update_name()">Update</a>
    </div>
</div>
<div id="edit_bio_modal" class="modal">
    <form method="post">
        <div class="modal-content">
            <h4>Edit Profile</h4>
            <p>From here you can update / modify your profile.</p>
            <div class="row">
                <div class="input-field col l12 m12 s12">
                    {% csrf_token %}
                    <textarea id="bio" type="text" class="materialize-textarea">{{ profile.bio }}</textarea>
                    <label for="bio">Bio</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l12 m12 s12">
                    <select id="jnv_id">
                        <option value="" disabled selected>Choose your option</option>
                        {% for navodaya in navodayas %}
                            <option value="{{ navodaya.pk }}">{{ navodaya.full_name }}</option>
                        {% endfor %}
                    </select>
                    <label>JNV</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l6 m6 s12">
                    <input id="location" type="text" value="{{ profile.location }}">
                    <label for="location">Location</label>
                </div>
                <div class="input-field col l6 m6 s12">
                    <input id="passing_year" type="text" value="{{ profile.passing_year }}">
                    <label for="passing_year">Passing Year</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        <a href="#!" onclick="update_bio()" class="modal-action modal-close waves-effect waves-green btn-flat">Update</a>
        </div>
    </form>
</div>
{% endblock %}
{% block documentReadyScript %}
    var dt = new Date();
    dt.setFullYear(dt.getFullYear()-10);
    //$('#dob_field').datepicker({
    //    maxDate: dt,
    //    defaultDate: dt,
    //    yearRange: 45 // Creates a dropdown of 15 years to control year
    //});
    
    //$('#add_achievement_date_field').datepicker({
    //    container: 'body'
    //});
    $("#dob_field").hide();
    $('.tap-target').featureDiscovery();
    $('.tap-target').featureDiscovery('open')

    $('.fixed-action-btn').floatingActionButton({
        direction: 'left',
        hoverEnabled: false
    });
        
{% endblock %}
{% block scripts %}
<script>
    function edit_education(id){
        alert(id);
        $("#edit_education_modal").modal('open');
    }
    function edit_profile(id){
        $("#edit_name_modal").modal('open');
    }
    function update_name(){
        $(".progress").show();
        $.get({
            url : '/profile/update/name',
            data : {
                'first_name' : $("#first_name").val(),
                'last_name' : $("#last_name").val(),
            },
            success: function(data){
                if(data.success == true){
                    M.toast({html : data.message});
                }else{
                    M.toast({html : data.message});
                }
                $(".progress").hide();
                $("#full_name_div").html($("#first_name").val() + " " + $("#last_name").val())
            },
            error: function(data){
                $(".progress").hide();
                M.toast({html: "Sorry an error occured"});
            }
        });
    }
    function edit_bio(){
        $("#edit_bio_modal").modal('open');
    }
    function update_bio(){
        $(".progress").show();
        $.post({
            url : '/profile/update/bio',
            data : {
                'csrfmiddlewaretoken' : '{{ csrf_token }}',
                'bio' : $("#bio").val(),
                'jnv_id' : $("#jnv_id").val(),
                'location' : $("#location").val(),
                'passing_year' : $("#passing_year").val()
            },
            success : function(data){
                if(data.success = true){
                    M.toast({html: data.message});
                    $("#bio_div").html($("#bio").val());
                    $("#jnv_div").html($('select option[value="'+ $("#jnv_id").val() +'"]').html());
                    $("#location_div").html("Location : " + $("#location").val());
                    $("#passout_year_div").html("Passout Year : " + $("#passing_year").val());
                }else{
                    M.toast({html: data.message});
                }
                $(".progress").hide();
            },
            error: function(data){
                $(".progress").hide();
                M.toast({html: 'Sorry an error occured please refresh again and try again'});
            }
        });
    }
    function show_update_dob(){
        $("#dob_field").show();
    }
    function update_dob(){
        $(".progress").show();
        $.post({
            url : '/profile/update/dob',
            data : {
                'csrfmiddlewaretoken' : '{{ csrf_token }}',
                'dob' : $("#dob_field_picker").val()
            },
            success : function(data){
                if(data.success = true){
                    M.toast({html: data.message});
                    location.reload();
                }else{
                    M.toast({html: data.message});
                }
                $(".progress").hide();
            },
            error: function(data){
                $(".progress").hide();
                M.toast({html: 'Sorry an error occured please refresh again and try again'});
            }
        });
    }
</script>
{% endblock %}