{% extends 'base.html' %}
{% block title %}
Create an account
{% endblock %}
{% block content %}

<div class="row">
  <div class="col l8 s12 m8 offset-l2">
      <div class="card">
        <div class="card-content">
          <center><h2>Login</h2></center>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <center>
              <button class="waves-effect waves-light btn" type="submit">Login</button>
            </center>
          </form>
          <br>
          <center>
              <p><strong>-- OR --</strong></p>
              <a class="waves-effect waves-light btn" href="{% url 'social:begin' 'facebook' %}"><i class="ion-social-facebook-outline"></i>&nbsp Login with Facebook</a>
              <!-- <br><br>
              <a class="waves-effect waves-light btn" href="{% url 'social:begin' 'github' %}"><i class="ion-social-github-outline"></i>&nbsp Login with GitHub</a><br> -->
              <p>Don't have an account please <a href="/signup">Signup</a></p>
          </center>
        </div>
      </div>
  </div>        
</div>
{% endblock %}