{% extends 'base.html' %}
{% block title%}
Home
{% endblock %}
{% block content %}
<div class="row">
  <div class="col l8 s12 m8 offset-l2">
      <div class="card">
        <div class="card-content">
            <h2>Sign up</h2>
            <form method="post">
              {% csrf_token %}
                {% for field in form %}
                <p>
                  {{ field.label_tag | safe }}<br>
                  {{ field | safe }}
                  {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text | safe }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error | safe }}</p>
                  {% endfor %}
                </p>
              {% endfor %}
              <br>
              <center>
                  <button class="waves-effect waves-light btn" type="submit">Sign up</button>
              </center>
              <p style="text-align:center">Already have an account please <a href="/login">Login</a></p>
            </form>
        </div>
      </div>
  </div>        
</div>
{% endblock %}