{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta property="og:url"           content="{{ request.build_absolute_uri }}" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="{% block metatitle %}{% endblock %}" />
      <meta property="og:description"   content="{% block meta_description %}{% endblock %}" />
      <meta property="og:image"         content="{% block meta_image %}{% endblock %}" />
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'assets/css/materialize.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>WeNavodaya  - {% block title %}{% endblock %}</title>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11&appId=1952582998342500';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    </head>

    <body>
      <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img src="{% static 'assets/images/header_new.png' %}">
          </div>
          <a href="#!user"><img class="circle" src="{% static 'assets/images/logo.png' %}"></a>
          <a href="#!name"><span class="white-text name">WeNavodaya </span></a>
          <a href="#!email"><span class="white-text email">Please Login</span></a>
        </div></li>
        <li><div class="divider"></div></li>
        <li>
            <a class="waves-effect waves-light btn" href="{% url 'social:begin' 'facebook' %}"><i class="ion-social-facebook-outline"></i>Login with Facebook</a>
        </li>
        <li><a class="subheader">Beta</a></li>
        <li><a class="waves-effect" href="#!">WeNavodaya  </a></li>
      </ul>
      <div class="progress" style="margin:0px">
          <div class="indeterminate"></div>
      </div>
      <header>
        
          <ul id="profile_navbar" class="dropdown-content">
            <li><a href="#!">{{ request.user.first_name }} {{ request.user.last_name }}</a></li>
            <li><a href="/profile">My Profile</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        
          <ul id="login_navbar" class="dropdown-content">
            <li><a href="#!" data-target="slide-out" class="sidenav-trigger">Login</a></li>
            <li><a href="#!">Signup</a></li>
          </ul>
        
        <nav class="purple darken-4">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">&nbsp &nbsp WeNavodaya </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a id="close_button_search_results" class="btn-floating btn-large halfway-fab waves-effect waves-light grey darken-4">
              <span class="purple-text text-darken-4">
                <i class="material-icons">close</i>
              </span>
            </a>
            <ul class="right hide-on-med-and-down">
              <li>
                  <div class="input-field">
                    <input id="search_navbar_field" type="search" required style="margin-bottom: 0px;" autocomplete="off">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                  </div>
              </li>
              <li><a href="/aboutus">About Us</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/navodayas">JNVs</a></li>
              <li><a href="/forum">Forum</a></li>
              {% if request.user.is_authenticated %}
                <li><a href="/profile" >{{ request.user.first_name }} {{ request.user.last_name }}</a></li>
                <li><a href="/logout">Logout</a></li>
              {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
              {% endif %}
            </ul>
            <ul class="sidenav" id="mobile-demo">
              <li><a href="/aboutus">About Us</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/navodayas">JNVs</a></li>
              <li><a href="/forum">Forum</a></li>
              {% if request.user.is_authenticated %}
                <li><a href="/profile" >{{ request.user.first_name }} {{ request.user.last_name }}</a></li>
                <li><a href="/logout">Logout</a></li>
              {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </header>
      <div id="search_result">
        <div class="row">
          <div class="col l12 m12 s12">
            <blockquote>
              <h3>
                  Search Results...
              </h3>
            </blockquote>
          </div>
        </div>
        <center>
          <div class="row" id="search_results_div">
              
          </div>
        </center>
      </div>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
      <!--JavaScript at end of body for optimized loading-->
      <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'assets/js/materialize.js' %}"></script>

        <footer class="page-footer purple darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"><b>WeNavodaya  </b></h5>
                <p class="grey-text text-lighten-4">For <b>Navodayans</b> by <b>Navodayans</b></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/terms">Terms and Conditions</a></li>
                  <li><a class="grey-text text-lighten-3" href="/privacy">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 <b>WeNavodaya  </b>
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
    </body>
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.modal').modal();
        $('select').select();
        $(".dropdown-trigger").dropdown();
        $("#search_result").hide();
        $("#close_button_search_results").hide();
        $("#content").show();
        $("#search_navbar").submit(function(event){
          event.preventDefault();
        });
        {% block documentReadyScript %}
        {% endblock %}
        $(".progress").hide();
      });
      $('#search_navbar_field').focus(function(){
        $(".progress").show();
      });
      $('#search_navbar_field').focusout(function(){
        $(".progress").hide();
      });
      $('#close_button_search_results').click(function(){
        $("#search_result").fadeOut();
        $('#close_button_search_results').fadeOut();
      });
      $('#search_navbar_field').on('input',function() {
          $(".progress").show();
          var text = $("#search_navbar_field").val();
          var result = "";
          if(text != ""){
            var query = encodeURI(text);
            $.get({
              url: '/search/'+ query,
              success: function(data){
                if(data.success == true){
                  api_results = data.results;
                  for(i in api_results){
                    result += "<div class=\"col s12 m6 l4\">";
                    result += "<div class=\"card\">";
                    result += "<div class=\"card-image\">";
                    result += "<img src=\"/"+ api_results[i].image +"\">";
                    result += "<span class=\"card-title\">"+ api_results[i].title +"</span>";
                    result += "</div>";
                    result += "<div class=\"card-content\">";
                    result += "<p style=\"text-transform: capitalize\">Type : "+ api_results[i].type + "</p>";
                    if(api_results[i].type == 'event'){
                      result += "<p>Time : "+ api_results[i].time + "</p>";
                      result += "<p>Venue : "+ api_results[i].venue + "</p>";
                      result += "<p>"+ api_results[i].description + "</p>";
                    }else{
                      result += "<p>JNV : "+ api_results[i].jnv + "</p>";
                      result += "<p>Bio : "+ api_results[i].bio + "</p>";
                      result += "<p>Passout Year : "+ api_results[i].passing_year + "</p>";
                    }
                    result += "</div>";
                    result += "<div class=\"card-action\">";
                    result += "<a href=\""+ api_results[i].link +"\">Learn More</a>";
                    result += "</div>";
                    result += "</div>";
                    result += "</div>";
                  }
                }else{
                  result += "<h4>"+ data.message +" :(</h4>"
                }
                $("#search_result").fadeIn();
                $("#close_button_search_results").fadeIn();
                $("#search_results_div").html(result);
                $(".progress").hide();
              },
              error: function(data){
                $(".progress").hide();
              }
            });          
          }else{
            $(".progress").hide();
          }
          // window.location = query;
        });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111520215-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111520215-1');
    </script>

    {% block scripts %}
    {% endblock %}
  </html>
        